@import "~bootstrap/scss/bootstrap";

#mediaUploaderUI {
	box-sizing: border-box !important;	/* Default legacy content-box here for Bootstrap compatibility */
}

.mediaUploaderDropZone {
  height: 110px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
}

.mediaUploaderDropZoneInput {
  cursor: default !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mediaUploaderDropZoneInput:focus {
  outline: none !important;
}

div.mediaUploaderInfoCard {
  padding: 5px;
  margin: 0px;
}

ul.mediaUploaderInfo {
	list-style: none;
    padding-left: 0;
    display: block !important;
}


h4.mediaUploaderError {
	color: #cc0000;
	font-size: 16px;
}

div.mediaUploaderStorageHeading {
	color: #000;
	font-size: 16px;
}

div.mediaUploaderStorageError {
	color: #cc0000;
	font-size: 14px;
	background-color: none;
}

h4.mediaUploaderStatus {
	color: #a0a0a0;
	font-size: 16px;
}

a.mediaUploaderFilename {
	text-decoration: none;
	color: #000;
	cursor: help;
}

.mediaUploaderRecentItem {
	height: 160px;
	overflow-y: auto;
}

.nav-link {
	text-decoration: none !important;
	color: #000 !important;
	font-size: 14px;
}

.nav-link.active { 
	font-weight: bold;
}

.mapping-intro{
	.field-description{
		display: none;
	}
	.rjsf{
		padding-left: 10px;
		.form-control{
			width: fit-content;
		}
	}
}

.mapping-settings{
	.field-description{
		display: none;
	}
	.rjsf{
		padding-left: 0px;
		.form-control{
			width: fit-content;
		}
	}
}

.importer_code{
	input{
		pointer-events: none;
	}
}