@import "~bootstrap/scss/bootstrap";

.mediaUploaderDropZone {
  border: 1px dashed #000;
  padding: 15px;
  margin: 0px;
}

.mediaUploaderDropZoneInput {
  cursor: default !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mediaUploaderDropZoneInput:focus {
  outline: none !important;
}

div.mediaUploaderInfoCard {
  padding: 5px;
  margin: 0px;
}

ul.mediaUploaderInfo {
	list-style: none;
    padding-left: 0;
}

h4.mediaUploaderError {
	color: #cc0000;
}

h4.MediaUploaderStorageError {
	color: #cc0000;
	font-size: 11px;
}