# Configuration file for RelationshipGeneratorPluginIntegrationTest
# This is the configuration used for the functionality test, with "real" data in the database

enabled = 1
process_on_insert = 1
process_on_update = 1
add_matched = 1
remove_unmatched = 1
default_field_combination_operator = and
default_value_combination_operator = or
default_match_type = regex
default_match_options = {
	case_insensitive = 1
}
notify = 0
rules = {
	0 = {
		source_tables = [ ca_objects ],
		triggers = {
			individualCount = {
				match_type = exact,
				value = 1,
				multi_value_operator = and
			}
		},
		related_table = ca_collections,
		related_record = %%single%%,
		relationship_type = part,
		add_relationship_notification = Detected single individual and added to '%2' %1,
		remove_relationship_notification = Detected modification of individual count and removed from '%2' %1
	},
	1 = {
		source_tables = [ ca_objects ],
		triggers = {
			individualCount = {
				regexes = { "^[2-9]|\d{2,}$" }
			}
		},
		related_table = ca_collections,
		related_record = %%multiple%%,
		relationship_type = part
	},
	2 = {
		source_tables = [ ca_objects ],
		triggers = {
			individualCount = {
				regexes = { "^\d+$" }
			}
		},
		related_table = ca_collections,
		related_record = %%xx%%,
		relationship_type = part
	}
}
