[submodule "js/jquery/jquery-handsontable-src"]
	path = js/jquery/jquery-handsontable-src
	url = git@github.com:collectiveaccess/jquery-handsontable.git
[submodule "jsonlint"]
	path = jsonlint
	url = https://github.com/Seldaek/jsonlint.git
