/nbproject/*
app/tmp/*
app/conf/local/*
setup*.php
/media/*
!/media/.htaccess
!/media/README.md
.DS_Store
.settings
.project
dev
*.un~
*.sublime-*
*.swp
tags
scratch/
/import/*
app/lib/core/Parsers/htmlpurifier/standalone/HTMLPurifier/DefinitionCache/Serializer/*
