Order allow,deny
Allow from all

<FilesMatch ".*\.[A-Za-z0-9]+">
    Deny from all
</FilesMatch>
<FilesMatch "^(index\.php)?$">
    Allow from all
</FilesMatch>
<FilesMatch "^(index|service|tilepic)\.php$">
    Allow from all
</FilesMatch>
<FilesMatch "^.*\.(css|gif|jpg|png|ico|js|woff|ttf|eot|swf|map|m4v|xml)$">
    Allow from all
</FilesMatch>
