Order allow,deny
Allow from all

<FilesMatch ".*\.[A-Za-z0-9]+">
	Deny from all
</FilesMatch>
<FilesMatch "^(index\.php)?$">
        Allow from all
</FilesMatch>
<FilesMatch "^(index|service|tilepic)\.php$">
        Allow from all
</FilesMatch>
<FilesMatch "^.*\.(css|gif|jpg|png|js|woff|woff2|ttf|swf|map|tif|tiff|m4v|xml|ply|stl|html|json|mp3|wav|aiff|tiff|obj|bmp|mp4|pdf)$">
        Allow from all
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	<IfModule mod_env.c>
		SetEnv HTTP_MOD_REWRITE On
	</IfModule>
	
	# Pass all requests not referring directly 
	# to files in the filesystem to index.php.
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !=/favicon.ico
	RewriteRule ^ index.php%{REQUEST_URI} [L]	
</IfModule>
