.bundleLabel {
	background-color: transparent;
	border: none;
    padding: 0;
    margin: 0;

    .bundleInner {
        border-top: 1px solid $white-off;
       	padding: 8px;
       	margin: 8px 0 0 0;
    }

    input[type="text"],
	input[type="password"],
    input[type="textarea"],
   	textarea,
	select {
		width: 100% !important;
	}
}

// As a fallback, make children that don't have a `cell-*` class like a 100% wide cell.  See `_grid.scss`
.grid > .bundleLabel:not([class *= 'cell-']) {
    width: 100%;
    font-size: medium;
}

.bundleContainer {
	background: inherit;
}

div.roundedRel {
	font-size: 0.9em;
	background: $white-off;
	float: none;
	margin-right: 28px;

	a {
		font-size: inherit;
	}
}

.caItemList {
	max-height: none;
	overflow-y: hidden;
}
