

.bundleLabel {
	font-size: inherit;
	font-family: inherit;
	color: inherit;

	background-color: white;
  border: 1px solid white;

  border-radius: 3px;
  margin-bottom: 1em;

}



.bundleContainer {
	background: inherit;
}