.bundleLabel {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	background-color: white;
	border: none;
	border-bottom: 1px solid $white-off;
	padding: 0 0 8px 0;
	margin: 0 0 8px 0;

	input[type="text"],
	input[type="textarea"],
	textarea,
	input[type="password"],
	select {
		width: 100% !important;
	}
}

.bundleInner {
	letter-spacing: normal;
}

.bundleContainer {
	background: inherit;
}

div.roundedRel {
	font-size: 0.9em;
	background: $white-off;
	float: none;
	margin-right: 28px;

	a {
		font-size: inherit;
	}
}

.caItemList {
	max-height: none;
	overflow-y: hidden;
}
