input[type="text"], 
input[type="textarea"], 
textarea, 
input[type="password"] {
	width: 100%;
	height: 1.8em;

	font-family: inherit;
	font-size: inherit;


	.formLabel & {
		width: 100% !important;
		height: 1.8em !important;
	}	
}




.labelInfo {
	background-color: transparent;
	/*border-top: 1px solid #e9e9e9;*/
	margin-left: 0px;
	padding: 7px 28px 3px 5px;
	border-bottom: 1px solid $white-dark;


	&:last-of-type {
		border-bottom: 0;
		
	}
	
	&.button {
		border-top: 1px solid $white-dark;
	}	
	
}


a.form-button, 
span.form-button, 
del.form-button {
	font-size: inherit;
}

a.form-button span, 
span.form-button button, 
span.form-button input, 
del.form-button span {
	font-size: inherit !important;
	font-family: inherit;
	font-weight: 600;
	padding: 0.5em 1em;
}


a.form-button:hover span {
	background: $grey;
	color: $white;
}



.ui-autocomplete-input {
	height: 2em !important;

}

.caDeleteItemButton,
.caDeleteLabelButton {
	position: absolute;
	right: 4px;
}

a.caNodecLabelButton {
	text-decoration: none;

	img {
		width:14px;
		margin-right:3px;
	}
}

.formLabel {
	font-family: inherit;
	font-weight: 600;
	font-size: inherit;
	color: inherit;
}

.labelDisplay {
	font-family: inherit;
	//font-weight: 600;
	font-size: inherit;
	color: inherit;
}


.formLabelText {
	@include wam-font-heading();
	color: $grey-dark;
	font-size: 1.2em;
}


div.button {
	font-size: inherit;


	img {
		vertical-align: initial;
	}

	a{
		font-size: 0.9em;
		font-family: inherit;
		font-weight: 600;
		color: inherit;
		border: 1px solid $grey-light;
		padding: 2px 6px;
		margin-bottom: 3px;
		border-radius: 1em;
		display: inline-block;

		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
}

table.attributeListItem {
	width: 100%;

}

.attributeListItem td {
	padding: 3px;
}

// td.attributeListItem {
// 	width: 33%;
// 	padding: 3px;
// }

.attributeListItem > .formLabel > div {
	width: 100% !important;
}


.caListItem {
	width: 100%;
}

#P284OccurrenceEditorFormItem_new_0 {
	overflow: auto;
}

.formSettings {
	border: 1px solid $white-dark;
}

#idno_prefix {
	height: 1.8em;
	font-size: 1em;
	width: 60px
}
#idno_object_number {
	width: 180px !important;
	margin-left: 6px;
	margin-right: 3px
}
#idno_suffix {
	width: 80px !important;
	margin-left: 3px;
}
