





.hierarchyBrowserContainer {
	width: 100%;
}



.hierarchyBrowserLevel li {
	line-height: 1.2;
	margin-bottom: 5px;
	padding-bottom: 5px;
}


a.hierarchyBrowserLevel {
	font-size: 0.9em;
}


a.hierarchyBrowserLevelSelected {
	font-weight: 600;

}