


#mainContent {
	background-color: transparent;
	padding: 1em 0;
	
	border-right: 0;
	min-height: 1000px;
	position:relative;
	//float: left;


	// margin: 1em 3% 0 3%;
	// width: 94%;
	margin: 0 3% 0 36%;
	width: 59%;

	@include breakpoint(baby-bear) {
		margin: 0 3% 0 38%;
		width: 59%;
	}
	@include breakpoint(mama-bear) {
		margin: 0 3% 0 33%;
		width: 64%;
	}
	@include breakpoint(papa-bear) {
		margin: 0 5% 0 30%;
		width: 65%
	}
	@include breakpoint(supa-bear) {
		margin: 0 10% 0 35%;
		width: 55%
	}
}

.quickSearchContentArea,
#browse,
#summary,
.sectionBox {
	background-color: white;
	border-radius: 3px;

	box-shadow: 0 0 2px 2px rgba($grey, 0.1);

	padding: 1em;
}



div.editorBottomPadding {
	padding-bottom: 5em;
}