

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}


html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100%;
  min-width: 37.9em;
  color: $black;
}


.width {
	width: 100%;
}

.title--alt {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}


h1 {
	@include wam-font-heading();
}

h2 {
	@include wam-font-heading();
	font-size: 1.4em;	
	color: $grey-mid;
}







.hierarchyPanelHeader {
	font-size: inherit;

	a {
		font-size: inherit;
	}
}


#summary .heading {
	font-size: inherit;
	font-weight: 600;
	font-family: inherit;
	color: inherit;
}