

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}


html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100%;
  min-width: 37.9em;
  color: $black;
}


.width {
	width: 100%;
}

.title--alt {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}


h1 {
	@include wam-font-heading();
}

h2 {
	@include wam-font-heading();
	font-size: 1.4em;	
	color: $grey-mid;
}







.hierarchyPanelHeader {
	font-size: inherit;

	a {
		font-size: inherit;
	}
}


#summary .heading {
	font-size: inherit;
	font-weight: 600;
	font-family: inherit;
	color: inherit;
}

#mainContentFull {
	margin-top: 0;
}

.dashboardColumn {
	width: 49%;
}

.dashboardLanding {
	background: rgba(255,255,255,0.3);
	color: $grey-dark;
}

div.browseSelectPanelListGroupHeading {
	background: $link;
}
a.browseSelectPanelListGroupHeading, 
a.browseSelectPanelListGroupHeading:hover {
	color: white;
}

.blueDivide {
	background: $link;
}

#browseCriteria {
	color: $grey-dark;
}

#browseCriteria a.startOver:hover {
	color: $link;
}


.searchNav a.button {
	color: $link;
}
a.button:hover {
	color: darken($link, 20%);
}


.required {
	color: $red;
}

#refineBrowse a.facetLink,
.facetHeadingLink a {
	font-size: 0.8em;
	font-weight: normal;
	color: $link;
}

a.browseSelectPanelLink {
	font-size: 0.9em;
}

.facetHeadingLink.active {
	background: $grey-mid;

	a {
		color: white;
	}
}

div.listRel {
	font-size: 0.9em;
}
div.roundedRel {
	background: lighten($link, 52%)!important;
}


.table-bordered {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 3px;

	th,
	td {
		border: 1px solid $grey-light;
		padding: 0.25em 0.5em;
	}
}

div.caObjectRepresentationDetailEditorElement {
	font-size: inherit;
}

a.caDeleteItemButton {
	float: right;
}


table {
	clear: both;
}

img { 
	max-width: 100%;
	height: auto;
}
.mapholder img {
	max-width: auto;
}

