/* --- SuperFish styles --- */

/*** ESSENTIAL STYLES ***/
// .sf-menu, .sf-menu * {
//     margin:			0;
//     padding-right:	0;
//     list-style:		none;
// }
.sf-menu {
    // line-height:	1.0;
  padding-top: 3px;
}
// .sf-menu ul {
//     position:		absolute;
//     top:			-999em;
//     width:			14em; /* left offset of submenus need to match (see below) */
//     z-index: 100000;
// }
// .sf-menu ul li {
//     width:			100%;
// }
// .sf-menu li:hover {
//     visibility:		inherit; /* fixes IE7 'sticky bug' */
// }
// .sf-menu li {
//     float:			left;
//     position:		relative;
// }
// .sf-menu li li {
//     border-left: 1px solid #eee;
// }
.sf-menu a {
//     display:		block;
//     position:		relative;
    font-family: inherit;

    &:hover {
    	text-decoration: underline;
    }
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    //left:			0;
    top: 47px;	 /* match top ul list item height */
    //z-index:		999;
}
// ul.sf-menu li:hover li ul,
// ul.sf-menu li.sfHover li ul {
//     top:			-999em;
// }
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
     left:			13.4em; /* match ul width */
//     top:			0;
 }
// ul.sf-menu li li:hover li ul,
// ul.sf-menu li li.sfHover li ul {
//     top:			-999em;
// }
// ul.sf-menu li li li:hover ul,
// ul.sf-menu li li li.sfHover ul {
//     left:			12em; /* match ul width */
//     top:			0;
// }

// /*** SKIN ***/
// .sf-menu {
//     float:			right;
//     margin-bottom:	0px;
//     text-align:left;
//     padding-top: 8px;
// }
// .sf-menu a {
//     border-top:		0px solid #134959;
//     padding-top: .55em;
//     padding-bottom: .40em;
//     padding-left: .6em;
//     padding-right: 5px;
//     text-decoration:none;
//     border-left: 0px dotted #ddd;
// }
// .sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
//     color:			#333;
//     font-weight:normal;
// }
 
// .sf-menu li {


// }
// .sf-menu li li {
//     background:		#fdfdfd;
//     margin-top:0px;
//     padding-top:0px;
// }

// .sf-menu li li li {
//     background:		#fdfdfd;
//     margin-top:0px;
//     padding-top:0px;
// }
// .sf-menu li li a, .sf-menu  li li a:visited, .sf-menu li li li a, .sf-menu  li li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
//     color:			#4b4a4a;
//     font-weight:normal;
// }
// .sf-menu li:hover, .sf-menu li.sfHover,
// .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
// .sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active,
// .sf-menu li li li a:focus, .sf-menu li li li a:hover, .sf-menu li li li a:active{

//     outline:		0;
//     color: #333;
// }

li.sfHover > a:link, li.sfHover > a:visited {
    color: #333 !important;
}
li.sfHover > a.sf-menu-selected:link, li.sfHover > a.sf-menu-selected:visited {
    color: white !important;
}

// .sf-menu li li:hover, .sf-menu li li li:hover{
//     background:		#eee;
//     color: #333;
// }

// .sf-menu li li.disabled:hover, .sf-menu li li li.disabled:hover{
//     background:		none;
//     color: #333;
// }

// .sf-menu-selected,  .sf-menu li li a.sf-menu-selected, .sf-menu li li li a.sf-menu-selected{
//     color:#FFFFFF;
//     background-color: #4b4a4a;
// }
// .sf-menu.sf-menu-search img {
//     height:14px;
//     width:14px;
//     padding: 0px 0px 6px 15px;
//     margin: 5px 12px 0px 0px;
// }
// a.sf-menu-selected {
//     color:#FFFFFF;
//     background-color: #4b4a4a;
// }

// a.sf-menu-selected:hover {
//     color:#444444;
//     background-color: #4b4a4a;
// }

// #leftNav h2 a.sf-menu-selected {
//     color:#666;
//     background-color: #ddd;
//     background-repeat:no-repeat;
//     background-position: top right;
//     height:13px;
// }

// a.sf-menu-disabled-selected, #leftNav h2 a.sf-menu-disabled-selected {
//     opacity: 0.6;
//     color:#FFFFFF;
//     background-color: #4b4a4a;
// }

// a.sf-menu-disabled {
//     opacity: 0.5;
//     color:#FFFFFF;
// }

// .sf-spacer {
//     height: 0px;
//     border-top: 1px dotted #cccccc;
//     padding: 0px;
//     margin: 0px;
// }

// /*** arrows **/
.sf-menu a.sf-with-ul {
//     padding-right: 	1em;
//     min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
//     text-transform:uppercase;
    font-family: inherit;
}
// .sf-menu ul li a.sf-with-ul {
//     text-transform: none;
// }
// .sf-sub-indicator {
//     position:		absolute;
//     display:		none;
//     right:			.75em;
//     top:			1.05em; /* IE6 only */
//     width:			10px;
//     height:			10px;
//     text-indent: 	-999em;
//     overflow:		hidden;
//     background:		url('../graphics/icons/arrows_white.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
// }

// ul.sf-menu li a.sf-with-ul .sf-sub-indicator{
// 	display:none;
// }
// ul.sf-menu li ul li a.sf-with-ul .sf-sub-indicator{
// 	display:block;
// 	margin-top: -2px;
// }
// a > .sf-sub-indicator {  /* give all except IE6 the correct values */
//     top:			.7em;
//     background-position: 0 -100px; /* use translucent arrow for modern browsers*/
// }
// /* apply hovers to modern browsers */
// a:focus > .sf-sub-indicator,
// a:hover > .sf-sub-indicator,
// a:active > .sf-sub-indicator,
// li:hover > a > .sf-sub-indicator,
// li.sfHover > a > .sf-sub-indicator {
//     background-position: -10px -100px; /* arrow hovers for modern browsers*/
// }

// /* point right for anchors in subs */
// .sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
// .sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
// /* apply hovers to modern browsers */
// .sf-menu ul a:focus > .sf-sub-indicator,
// .sf-menu ul a:hover > .sf-sub-indicator,
// .sf-menu ul a:active > .sf-sub-indicator,
// .sf-menu ul li:hover > a > .sf-sub-indicator,
// .sf-menu ul li.sfHover > a > .sf-sub-indicator {
//     background-position: -10px 0; /* arrow hovers for modern browsers*/
// }

// /*** shadows for all but IE6 ***/
// .sf-shadow ul {
//     background:	url('../graphics/backgrounds/shadow.png') no-repeat bottom right;
//     padding: 0 8px 9px 0;
//     border:0px;
// }
// .sf-shadow ul.sf-shadow-off {
//     background: transparent;
// }

// .sf-menu-search {
//     position: relative;
//     float: right;
//     width: 174px;
//     text-align: right;
//     margin-top: 3px;
//     background-color: #fff;
//     border: 1px solid #ccc;
//     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
//     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
//     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
//     -webkit-transition: border linear .2s,box-shadow linear .2s;
//     -moz-transition: border linear .2s,box-shadow linear .2s;
//     -o-transition: border linear .2s,box-shadow linear .2s;
//     transition: border linear .2s,box-shadow linear .2s;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     border-radius: 3px;
//     padding-top: 5px;
//     padding-bottom: 3px;
// }
// .sf-menu-search input {
//     outline-style:none;
// }
// .sf-menu.sf-menu-search a {
//     padding:0px;
// }

// /*** SKIN FOR "SMALL" MENUS USED WITHIN BUTTONS ***/
// .sf-small-menu .sf-menu {
//     float:			right;
//     margin-bottom:	0px;
//     text-align:left;
//     border-right:	0px solid #fff;
// }
// .sf-small-menu .sf-menu a {
//     border-left:	0px solid #fff;
//     border-top:		0px solid #cccccc;
//     padding: 		.75em 2em;
//     background: #cccccc;
//     text-decoration:none;
// }
// .sf-small-menu .sf-menu a, .sf-small-menu .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
//     color:			#000000;
//     font-weight:normal;
// }
// .sf-small-menu .sf-menu ul ul {
//     border-top:		1px solid #FFF;
//     border-bottom:		1px solid #FFF;
// }
// .sf-small-menu .sf-menu ul ul ul {
//     border-top:		1px solid #FFF;
//     border-bottom:		1px solid #FFF;
// }
// .sf-small-menu .sf-menu li {
//     background:		#eeeeee;
// }
// .sf-small-menu .sf-menu li li {
//     background:		#eeeeee;
// }

// .sf-small-menu .sf-menu li li li {
//     background:		#eeeeee;
// }
// .sf-small-menu .sf-menu li li a, .sf-small-menu .sf-menu  li li a:visited, .sf-small-menu .sf-menu li li li a, .sf-small-menu .sf-menu  li li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
//     color:			#4b4a4a;
//     font-weight:bold;
// }


// /*** SKIN FOR MENUS USED WITHIN HIERARCHY SCREENS ***/
// #browseTypeMenu {
//     position:relative;
//     z-index:1;
//     margin-bottom:5px;
// }
// .sf-hier-menu {

// }
// .sf-hier-menu ul.sf-menu li a div {
//     display:inline;
// }
// .sf-hier-menu .sf-menu {
//     float:none;
//     margin-bottom:	0px;
//     text-align:left;
//     border-right:	0px solid #fff;
// }
// .sf-hier-menu ul.sf-menu li a{
//     padding: 		0em 2em 1em 0em;
//     background: #FFFFFF;
//     text-decoration:none;
// }
// .sf-hier-menu ul.sf-menu ul li a, .sf-hier-menu ul.sf-menu ul ul li a, .sf-hier-menu ul.sf-menu ul ul ul li a  {
//     border-left:	0px solid #fff;
//     border-top:		0px solid #cccccc;
//     padding: 		.75em 2em;
//     background: #cccccc;
//     text-decoration:none;
// }
// .sf-hier-menu .sf-menu a, .sf-hier-menu .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
//     color:			#000000;
//     font-weight:normal;
// }
// .sf-hier-menu ul.sf-menu ul li a:hover, .sf-hier-menu ul.sf-menu ul ul li a:hover, .sf-hier-menu ul.sf-menu ul ul ul li a:hover  {
//     border-left:	0px solid #fff;
//     border-top:		0px solid #cccccc;
//     padding: 		.75em 2em;
//     background: #4B4B4B;
//     text-decoration:none;
//     color:			#FFFFFF;
// }
// .sf-hier-menu .sf-menu ul ul {
//     border-top:		1px solid #FFF;
//     border-bottom:		1px solid #FFF;
// }
// .sf-hier-menu .sf-menu ul ul ul {
//     border-top:		1px solid #FFF;
//     border-bottom:		1px solid #FFF;
// }
// .sf-hier-menu .sf-menu li {
//     background:		#eeeeee;
// }
// .sf-hier-menu .sf-menu li li {
//     background:		#eeeeee;
// }

// .sf-hier-menu .sf-menu li li li {
//     background:		#eeeeee;
// }
// .sf-hier-menu .sf-menu li li a, .sf-hier-menu .sf-menu  li li a:visited, .sf-hier-menu .sf-menu li li li a, .sf-hier-menu .sf-menu  li li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
//     color:			#4b4a4a;
//     font-weight:bold;
// }