


$link: rgb(199,21,133);


$black: rgb(10,9,5);
$grey: rgb(60,60,60);
$grey-dark: rgb(40,40,40);
$grey-mid: rgb(100,100,100);
$grey-light: rgb(200,200,200);
$corporate: rgb(30,30,30);
$corporate-dark: rgb(10,10,10);
$white: rgb(255,255,255);
$white-off: rgb(240,240,240);
$white-dark: rgb(230,230,230);
$green: rgb(0,155,0);
$green-dark: rgb(0,130,0);
$red: rgb(155,0,0);
$red-dark: rgb(130,0,0);

$perth: rgb(158,197,77);
$maritime: rgb(83,172,237);
$shipwrecks: rgb(55,120,190);
$albany: rgb(85,169,180);
$geraldton: rgb(123,121,182);
$kalgoorlie-boulder: rgb(230,170,83);

$earth-and-planetary-sciences: rgb(219,157,19);
$aquatic-zoology: rgb(54,64,80);
$terrestrial-zoology: rgb(108,173,91);
$anthropology-and-archaeology: rgb(0,8,118);
$social-history: rgb(125,67,176);
$maritime-archaeology: rgb(96,158,132);
$maritime-history: rgb(82,126,187);
$materials-conservation: rgb(180,87,0);



// Reseach Projects background colours
$anthropology: rgb(0,61,91);
$archaeology: rgb(61,8,91);
$earth-sciences: rgb(0,97,26);
$zoology: rgb(0,79,118);
$history: rgb(118,0,84);

// pages
$education: rgb(0,92,100);
$weddings: rgb(90,68,89);
$research: rgb(150,60,0);
$research-areas: rgb(150,60,0);
$programs-events: rgb(166,0,61);
$school-holidays: rgb(123,68,9);
$year-of-biodiversity: rgb(0,158,94);
$in-the-wild-west: rgb(15,50,88);
$national-science-week: rgb(195,70,0);
$records-supplements: rgb(51,0,64);
$databases: rgb(62,85,108);
$kids: rgb(0,102,54);
$online-exhibitions: rgb(0,41,72);
$past-exhibitions: rgb(52,17,50);
$galleries: rgb(30,30,30);
$videos: rgb(0,105,90);
$gallery-page: rgb(20,20,20);