@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Oswald);
#topNavContainer {
  height: auto; }

#topNav {
  position: relative; }

.roundedNav {
  max-width: 100%; }

#main {
  background: #f0f0f0 url(http://museum.wa.gov.au/sites/all/themes/wamuseumv3/style/build/images/backgrounds/escheresque.png) 0 0 repeat;
  background-attachment: fixed; }

#leftNav {
  background: #282828; }

#leftNav {
  width: 100%;
  padding: 0;
  position: relative;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
  @media only screen and (min-width: 60em) {
    #leftNav {
      width: 25%; } }
  @media only screen and (min-width: 70em) {
    #leftNav {
      width: 20%; } }
  @media only screen and (min-width: 80em) {
    #leftNav {
      width: 20%; } }

#leftNav #leftNavSidebar {
  width: 100%;
  height: auto; }

#leftNav h3.nextPrevious a.next {
  width: 50px;
  text-align: center; }

#mainContent {
  background-color: transparent;
  padding: 1em 0;
  border-right: 0;
  min-height: 1000px;
  position: relative;
  margin: 0 3% 0 33%;
  width: 64%; }
  @media only screen and (min-width: 50em) {
    #mainContent {
      margin: 0 3% 0 33%;
      width: 64%; } }
  @media only screen and (min-width: 60em) {
    #mainContent {
      margin: 0 3% 0 28%;
      width: 69%; } }
  @media only screen and (min-width: 70em) {
    #mainContent {
      margin: 0 5% 0 25%;
      width: 70%; } }
  @media only screen and (min-width: 80em) {
    #mainContent {
      margin: 0 10% 0 30%;
      width: 60%; } }

.sectionBox {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(60, 60, 60, 0.1);
  padding: 1em; }

div.editorBottomPadding {
  padding-bottom: 5em; }

.bundleLabel {
  font-size: inherit; }
  .bundleLabel .formLabelText {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase; }

#footerContainer {
  position: relative; }

#footer {
  width: 100%;
  font-size: 0.8em;
  background: #0a0905;
  padding-bottom: 0.7em;
  color: #c8c8c8; }
  #footer a {
    color: inherit; }
  #footer div {
    width: auto;
    text-align: center;
    font-family: inherit; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100%;
  min-width: 37.9em; }

.width {
  width: 100%; }

.title--alt {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
