@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Oswald);
#topNavContainer {
  height: auto; }

#topNav {
  position: relative;
  font-family: inherit;
  font-size: inherit; }

.roundedNav {
  max-width: 100%; }

/* --- SuperFish styles --- */
/*** ESSENTIAL STYLES ***/
.sf-menu {
  padding-top: 3px; }

.sf-menu a {
  font-family: inherit; }
  .sf-menu a:hover {
    text-decoration: underline; }

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  top: 47px;
  /* match top ul list item height */ }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 13.4em;
  /* match ul width */ }

li.sfHover > a:link, li.sfHover > a:visited {
  color: #333 !important; }

li.sfHover > a.sf-menu-selected:link, li.sfHover > a.sf-menu-selected:visited {
  color: white !important; }

.sf-menu a.sf-with-ul {
  font-family: inherit; }

#mainContentFull,
#main {
  background: #f0f0f0 url(images/escheresque.png) 0 0 repeat;
  background-attachment: fixed; }

#mainContent {
  background-color: transparent;
  padding: 1em 0;
  border-right: 0;
  min-height: 1000px;
  position: relative;
  margin: 0 3% 0 36%;
  width: 59%; }
  @media only screen and (min-width: 50em) {
    #mainContent {
      margin: 0 3% 0 38%;
      width: 59%; } }
  @media only screen and (min-width: 60em) {
    #mainContent {
      margin: 0 3% 0 33%;
      width: 64%; } }
  @media only screen and (min-width: 70em) {
    #mainContent {
      margin: 0 5% 0 30%;
      width: 65%; } }
  @media only screen and (min-width: 80em) {
    #mainContent {
      margin: 0 10% 0 35%;
      width: 55%; } }

.quickSearchContentArea,
#browse,
#summary,
.sectionBox {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(60, 60, 60, 0.1);
  padding: 1em; }

div.editorBottomPadding {
  padding-bottom: 5em; }

div.control-box {
  width: 100%;
  background-color: #0a0905;
  color: white; }
  div.control-box a {
    color: white;
    font-weight: 600; }
    div.control-box a:hover {
      color: white; }
  div.control-box a.form-button {
    padding-bottom: 0;
    height: auto; }
  div.control-box a.form-button span,
  div.control-box span.form-button button,
  div.control-box span.form-button input,
  div.control-box del.form-button span {
    padding: 6px 12px 6px 12px;
    line-height: 1.5; }
  div.control-box input[type="text"], div.control-box input[type="textarea"], div.control-box textarea, div.control-box input[type="password"] {
    width: auto; }
  div.control-box .form-header-button img,
  div.control-box .form-button img {
    display: none; }
  div.control-box a.form-header-button,
  div.control-box a.button {
    padding: 6px 12px 6px 12px;
    border-radius: 3px; }
    div.control-box a.form-header-button:hover,
    div.control-box a.button:hover {
      background: #3c3c3c; }

div.control-box-right-content {
  font-family: inherit; }

a.form-button span, span.form-button button, span.form-button input, del.form-button span,
a.form-button:hover, span.form-button:hover, a.form-button:focus, a.dom-button-focus, span.form-button-behavior-hover {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  height: auto; }

div.form-header-button {
  background-color: transparent; }

a.button {
  font-family: inherit;
  font-size: inherit; }

div.control-box-middle-content {
  font-size: inherit; }

.bundleLabel {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 1em; }

.bundleContainer {
  background: inherit; }

div.roundedRel {
  font-size: 0.9em;
  border: 1px solid #e6e6e6;
  background: #f0f0f0;
  float: none;
  margin-right: 28px; }
  div.roundedRel:last-of-type {
    border-bottom: 1px solid #e6e6e6 !important; }
  div.roundedRel a {
    font-size: inherit; }

.hierarchyBrowserContainer {
  width: 100%; }

.hierarchyBrowserLevel li {
  line-height: 1.2;
  margin-bottom: 5px;
  padding-bottom: 5px; }

a.hierarchyBrowserLevel {
  font-size: 0.9em; }

a.hierarchyBrowserLevelSelected {
  font-weight: 600; }

#advancedSearchFormContainer div.simple-search-box {
  background: white;
  float: none;
  padding: 3px;
  border-radius: 3px;
  margin-top: 0; }
  #advancedSearchFormContainer div.simple-search-box input[type="text"],
  #advancedSearchFormContainer div.simple-search-box input[type="textarea"],
  #advancedSearchFormContainer div.simple-search-box textarea,
  #advancedSearchFormContainer div.simple-search-box input[type="password"],
  #advancedSearchFormContainer div.simple-search-box select,
  #advancedSearchFormContainer div.simple-search-box select#ca_objects_languageAffiliation {
    width: 100% !important; }

.searchFormGroupElementModeElement {
  width: 33%; }

div.searchFormLineModeElementLabel {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600; }

#advancedSearchFormContainer .saveAs {
  font-size: 0.9em;
  font-family: inherit;
  color: inherit; }
  #advancedSearchFormContainer .saveAs a {
    font-family: inherit;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.4em 0.5em;
    border-radius: 3px;
    background: #3c3c3c; }

table.listtable {
  font-size: inherit; }

table.listtable thead tr th,
.table.listtable {
  font-size: 0.9em; }

#caSetList.listtable thead tr th,
#caGroupList.listtable thead tr th,
#caWatchedItemsList.listtable thead tr th,
#caBundleList.listtable thead tr th,
#caCommentsList.listtable thead tr th,
#caExporterListContainer .listtable thead tr th,
#caUserList.listtable thead tr th,
#caEventList.listtable thead tr th,
#caSearchList.listtable thead tr th,
#caLocaleList.listtable thead tr th,
#caSearchConfigSettingList.listtable thead tr th,
#caMediaConfigPluginList.listtable thead tr th,
#caElementList.listtable thead tr th,
#caUIList.listtable thead tr th,
#caSavedSearchesList.listtable thead tr th {
  font-family: inherit;
  font-weight: 600; }

.olMapSearchBox {
  float: none;
  position: relative;
  background: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }
  .olMapSearchBox input {
    outline-style: none;
    border: 1px solid #ddd; }

.olMapSearchText {
  height: inherit;
  float: none;
  margin: 0; }

.mapholder {
  height: auto !important;
  width: 100% !important; }

.olMap {
  width: 100% !important; }
  .olMap img {
    max-width: none; }

div.notification-info-box {
  box-shadow: 0 0 2px 2px rgba(60, 60, 60, 0.1);
  padding: 1em;
  background: #009b00 url("../graphics/icons/info.gif") no-repeat 13px 0.9em;
  background-size: 32px 32px;
  border: 2px solid #008200;
  border-radius: 3px !important;
  color: white; }

li.notification-info-box {
  font-weight: 600;
  color: white;
  font-size: inherit;
  font-family: inherit;
  text-indent: 10px;
  padding-top: 2px; }

ul.notification-info-box {
  margin: 0; }

div.notification-error-box {
  box-shadow: 0 0 2px 2px rgba(60, 60, 60, 0.1);
  padding: 1em;
  background: #9b0000 url("../graphics/icons/info.gif") no-repeat 13px 0.9em;
  background-size: 32px 32px;
  border: 2px solid #820000;
  border-radius: 3px !important; }

li.notification-error-box {
  font-weight: 600;
  color: white;
  font-size: inherit;
  font-family: inherit;
  text-indent: 10px;
  padding-top: 2px; }

ul.notification-error-box {
  margin: 0; }

#leftNav {
  background: #282828; }

#leftNav {
  width: 100%;
  padding: 0;
  position: relative;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
  @media only screen and (min-width: 60em) {
    #leftNav {
      width: 30%; } }
  @media only screen and (min-width: 70em) {
    #leftNav {
      width: 25%; } }
  @media only screen and (min-width: 80em) {
    #leftNav {
      width: 25%; } }
  #leftNav #leftNavSidebar {
    width: 100%;
    height: auto;
    color: white;
    border-top-color: transparent; }
    #leftNav #leftNavSidebar a {
      color: white; }
  #leftNav #widgets .searchType,
  #leftNav #widgets .setStats,
  #leftNav #widgets .groupList,
  #leftNav #widgets .watchedItems,
  #leftNav #widgets .yourDisplays,
  #leftNav #widgets .searchForms,
  #leftNav #widgets .comments,
  #leftNav #widgets .tags,
  #leftNav h3.export,
  #leftNav h3.metalist,
  #leftNav h3.relTypes,
  #leftNav h3.importers,
  #leftNav h3.savedSearches,
  #leftNav h3.searchTours,
  #leftNav h3.storage,
  #leftNav h3.places,
  #leftNav h3.occurrences,
  #leftNav h3.objrep,
  #leftNav h3.lots,
  #leftNav h3.movements,
  #leftNav h3.loans,
  #leftNav h3.entities,
  #leftNav h3.collections,
  #leftNav .creatingNew {
    clear: both;
    margin: 0 0 0.3em;
    padding-top: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2em; }
    @media only screen and (min-width: 50em) {
      #leftNav #widgets .searchType,
      #leftNav #widgets .setStats,
      #leftNav #widgets .groupList,
      #leftNav #widgets .watchedItems,
      #leftNav #widgets .yourDisplays,
      #leftNav #widgets .searchForms,
      #leftNav #widgets .comments,
      #leftNav #widgets .tags,
      #leftNav h3.export,
      #leftNav h3.metalist,
      #leftNav h3.relTypes,
      #leftNav h3.importers,
      #leftNav h3.savedSearches,
      #leftNav h3.searchTours,
      #leftNav h3.storage,
      #leftNav h3.places,
      #leftNav h3.occurrences,
      #leftNav h3.objrep,
      #leftNav h3.lots,
      #leftNav h3.movements,
      #leftNav h3.loans,
      #leftNav h3.entities,
      #leftNav h3.collections,
      #leftNav .creatingNew {
        font-size: 1.3em; } }
    @media only screen and (min-width: 60em) {
      #leftNav #widgets .searchType,
      #leftNav #widgets .setStats,
      #leftNav #widgets .groupList,
      #leftNav #widgets .watchedItems,
      #leftNav #widgets .yourDisplays,
      #leftNav #widgets .searchForms,
      #leftNav #widgets .comments,
      #leftNav #widgets .tags,
      #leftNav h3.export,
      #leftNav h3.metalist,
      #leftNav h3.relTypes,
      #leftNav h3.importers,
      #leftNav h3.savedSearches,
      #leftNav h3.searchTours,
      #leftNav h3.storage,
      #leftNav h3.places,
      #leftNav h3.occurrences,
      #leftNav h3.objrep,
      #leftNav h3.lots,
      #leftNav h3.movements,
      #leftNav h3.loans,
      #leftNav h3.entities,
      #leftNav h3.collections,
      #leftNav .creatingNew {
        font-size: 1.7em; } }
    @media only screen and (min-width: 80em) {
      #leftNav #widgets .searchType,
      #leftNav #widgets .setStats,
      #leftNav #widgets .groupList,
      #leftNav #widgets .watchedItems,
      #leftNav #widgets .yourDisplays,
      #leftNav #widgets .searchForms,
      #leftNav #widgets .comments,
      #leftNav #widgets .tags,
      #leftNav h3.export,
      #leftNav h3.metalist,
      #leftNav h3.relTypes,
      #leftNav h3.importers,
      #leftNav h3.savedSearches,
      #leftNav h3.searchTours,
      #leftNav h3.storage,
      #leftNav h3.places,
      #leftNav h3.occurrences,
      #leftNav h3.objrep,
      #leftNav h3.lots,
      #leftNav h3.movements,
      #leftNav h3.loans,
      #leftNav h3.entities,
      #leftNav h3.collections,
      #leftNav .creatingNew {
        font-size: 2em; } }
  #leftNav .setStats div,
  #leftNav .groupList div,
  #leftNav .yourDisplays div,
  #leftNav .searchForms div,
  #leftNav .comments div,
  #leftNav .tags div,
  #leftNav .export div,
  #leftNav h3.metalist div,
  #leftNav h3.relTypes div,
  #leftNav .importers div,
  #leftNav .savedSearches div,
  #leftNav .searchTours div {
    font-size: 70%; }
  #leftNav h2 {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    border-bottom: dotted 1px #3c3c3c;
    text-transform: none;
    width: 100%;
    font-weight: normal;
    font-family: inherit;
    text-transform: uppercase; }
    #leftNav h2 a.sf-menu-selected {
      height: auto;
      background: #0a0905; }
  #leftNav ul.arrow {
    border-top: 0;
    border-bottom: dotted 1px #3c3c3c;
    font-size: inherit; }
    #leftNav ul.arrow li a {
      background: transparent url("../graphics/icons/arrow_gray.gif") no-repeat 20px 50%; }
      #leftNav ul.arrow li a:hover {
        background-color: #282828; }
  #leftNav .sf-menu-selected,
  #leftNav .sf-menu li li a.sf-menu-selected,
  #leftNav .sf-menu li li li a.sf-menu-selected {
    background: #0a0905; }
  #leftNav h3 {
    font-size: inherit; }
  #leftNav h4 {
    font-size: inherit;
    color: inherit; }

#leftNav #inspectorInfo {
  width: 100%;
  background-color: white;
  border-top: 1px solid #e6e6e6; }

.inspectorChangeDateList {
  font-family: inherit;
  font-size: 0.9em; }

#widgets {
  background: white;
  padding-bottom: 1em; }

#leftNav h3.nextPrevious {
  font-family: inherit;
  font-size: inherit;
  height: auto;
  font-weight: 600;
  width: initial;
  margin: 0 55px;
  padding-top: 5px;
  min-height: 45px;
  line-height: 1.2;
  background: transparent; }

#leftNav .resultCount,
#leftNav .resultLink {
  width: auto;
  display: initial; }

#leftNav h3.nextPrevious a {
  color: inherit; }

#leftNav h3.nextPrevious a.next,
#leftNav h3.nextPrevious span.next,
#leftNav h3.nextPrevious a.prev,
#leftNav h3.nextPrevious span.prev {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1;
  font-size: 0.9em;
  position: absolute;
  background: #f0f0f0;
  border: 1px solid #e6e6e6;
  padding: 7px 5px; }

#leftNav h3.nextPrevious a.prev,
#leftNav h3.nextPrevious span.prev {
  top: 0;
  left: 0; }

#leftNav h3.nextPrevious a.next,
#leftNav h3.nextPrevious span.next {
  top: 0;
  right: 0; }

#caColorbox {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }
  #caColorbox strong {
    font-family: inherit;
    font-weight: 600; }

div#caColorbox {
  border: 0 !important; }

#toolIcons a {
  border: 0; }

#footerContainer {
  position: relative; }

#footer {
  width: 100%;
  font-size: 0.8em;
  background: #0a0905;
  padding-bottom: 0.7em;
  color: #c8c8c8; }
  #footer a {
    color: inherit; }
  #footer div {
    width: auto;
    text-align: center;
    font-family: inherit; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

.glyphicon-euro:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.glyphicon-briefcase:before {
  content: "\1f4bc"; }

.glyphicon-calendar:before {
  content: "\1f4c5"; }

.glyphicon-pushpin:before {
  content: "\1f4cc"; }

.glyphicon-paperclip:before {
  content: "\1f4ce"; }

.glyphicon-camera:before {
  content: "\1f4f7"; }

.glyphicon-lock:before {
  content: "\1f512"; }

.glyphicon-bell:before {
  content: "\1f514"; }

.glyphicon-bookmark:before {
  content: "\1f516"; }

.glyphicon-fire:before {
  content: "\1f525"; }

.glyphicon-wrench:before {
  content: "\1f527"; }

input[type="text"],
input[type="textarea"],
textarea,
input[type="password"] {
  width: 100%;
  height: 1.8em;
  font-family: inherit;
  font-size: inherit; }
  .formLabel input[type="text"], .formLabel
  input[type="textarea"], .formLabel
  textarea, .formLabel
  input[type="password"] {
    width: 100% !important;
    height: 1.8em !important; }

.labelInfo {
  background-color: transparent;
  /*border-top: 1px solid #e9e9e9;*/
  margin-left: 0px;
  padding: 7px 28px 3px 5px;
  border-bottom: 1px solid #e6e6e6; }
  .labelInfo:last-of-type {
    border-bottom: 0; }
  .labelInfo.button {
    border-top: 1px solid #e6e6e6; }

a.form-button,
span.form-button,
del.form-button {
  font-size: inherit; }

a.form-button span,
span.form-button button,
span.form-button input,
del.form-button span {
  font-size: inherit !important;
  font-family: inherit;
  font-weight: 600;
  padding: 0.5em 1em; }

a.form-button:hover span {
  background: #3c3c3c;
  color: white; }

.ui-autocomplete-input {
  height: 2em !important; }

.caDeleteItemButton,
.caDeleteLabelButton {
  position: absolute;
  right: 4px; }

a.caNodecLabelButton {
  text-decoration: none; }
  a.caNodecLabelButton img {
    width: 14px;
    margin-right: 3px; }

.formLabel {
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  color: inherit; }

.labelDisplay {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

.formLabelText {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #282828;
  font-size: 1.2em; }

div.button {
  font-size: inherit; }
  div.button img {
    vertical-align: initial; }
  div.button a {
    font-size: 0.9em;
    font-family: inherit;
    font-weight: 600;
    color: inherit;
    border: 1px solid #c8c8c8;
    padding: 2px 6px;
    margin-bottom: 3px;
    border-radius: 1em;
    display: inline-block; }
    div.button a:hover {
      color: inherit;
      text-decoration: underline; }

table.attributeListItem {
  width: 100%; }

.attributeListItem td {
  padding: 3px; }

.attributeListItem > .formLabel > div {
  width: 100% !important; }

.caListItem {
  width: 100%; }

#P284OccurrenceEditorFormItem_new_0 {
  overflow: auto; }

.formSettings {
  border: 1px solid #e6e6e6; }

#idno_year,
#idno_job_number,
#idno_assignment_number,
#idno_analysis_number {
  font-size: 1em;
  width: 40px !important; }

#idno_prefix {
  font-size: 1em;
  width: 60px !important; }

#idno_object_number {
  width: 180px !important;
  margin-left: 6px;
  margin-right: 3px; }

#idno_serial_number,
#idno_suffix {
  width: 80px !important;
  margin-left: 3px; }

div.roundedRel a,
.hierNav a,
a {
  color: mediumvioletred; }
  div.roundedRel a:visited, div.roundedRel a:link,
  .hierNav a:visited,
  .hierNav a:link,
  a:visited,
  a:link {
    color: mediumvioletred; }
  div.roundedRel a:hover,
  .hierNav a:hover,
  a:hover {
    color: #6b0b47; }
  div.roundedRel a:focus,
  .hierNav a:focus,
  a:focus {
    border: 1px dotted mediumvioletred; }

#P667ObjectEditorFormItem_new_0 {
  background: #fcdff1 !important; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100%;
  min-width: 37.9em;
  color: #0a0905; }

.width {
  width: 100%; }

.title--alt {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #646464; }

.hierarchyPanelHeader {
  font-size: inherit; }
  .hierarchyPanelHeader a {
    font-size: inherit; }

#summary .heading {
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  color: inherit; }

#mainContentFull {
  margin-top: 0; }

.dashboardColumn {
  width: 49%; }

.dashboardLanding {
  background: rgba(255, 255, 255, 0.3);
  color: #282828; }

div.browseSelectPanelListGroupHeading {
  background: mediumvioletred; }

a.browseSelectPanelListGroupHeading,
a.browseSelectPanelListGroupHeading:hover {
  color: white; }

.blueDivide {
  background: mediumvioletred; }

#browseCriteria {
  color: #282828; }

#browseCriteria a.startOver:hover {
  color: mediumvioletred; }

.searchNav a.button {
  color: mediumvioletred; }

a.button:hover {
  color: #6b0b47; }

.required {
  color: #9b0000; }

#refineBrowse a.facetLink,
.facetHeadingLink a {
  font-size: 0.8em;
  font-weight: normal;
  color: mediumvioletred; }

a.browseSelectPanelLink {
  font-size: 0.9em; }

.facetHeadingLink.active {
  background: #646464; }
  .facetHeadingLink.active a {
    color: white; }

div.listRel {
  font-size: 0.9em; }

div.roundedRel {
  background: #fde9f5 !important; }

.table-bordered {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3px; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #c8c8c8;
    padding: 0.25em 0.5em; }

div.caObjectRepresentationDetailEditorElement {
  font-size: inherit; }

a.caDeleteItemButton {
  float: right; }

table {
  clear: both; }

img {
  max-width: 100%;
  height: auto; }

.mapholder img {
  max-width: auto; }
