@import url("//hello.myfonts.net/count/28ec2c");

@font-face {font-family: 'DIN-Regular';src: url('fonts/28EC2C_0_0.eot');src: url('fonts/28EC2C_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/28EC2C_0_0.woff') format('woff'),url('fonts/28EC2C_0_0.ttf') format('truetype');}

html, body { 
	font: 10px "Helvetica Neue", Verdana, Arial, Helvetica, Sans-serif;
	margin:0px;
	padding:0px;
	background-color:#fff;
	height: 100%;
}

form{
	display:inline;
}

a, a:link, a:visited, a font { color: #1ab3c8; text-decoration: underline; }

a:hover{
	color: #333;
}

#loginBox {
	width:485px;
	background-color: #FFFFFF;
	text-align:left;
	margin:100px 0px 50px 0px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	padding-top: 25px;
}
#loginForm{
	padding:0px 0px 40px 60px;
	text-align:left;
}

#forgotLink {
   float: right;
   margin-right: 70px;
}

#systemTitle{
	padding:30px 0px 10px 60px;
	font-weight:normal;
	font-size:22px;
	font-family: 'DIN-Regular';
}

.smallContent {
    font-size: 14px;
    margin-right: 68px;
    text-align: justify;
}

.notificationContent {
    font-size: 18px;
    margin-right: 68px;
    font-weight: bold;
    color: darkred;
}

.loginFormElement{
	font-size:14px;
	line-height:2.3em;
	margin-bottom:10px;
}
.loginSubmitButton{
	padding-top:15px;
}
#loginForm form input[type="text"], #loginForm form input[type="password"]{
	font-size:16px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border:1px solid #999999;
	padding:0px;
	margin:0px;
	font-weight:normal;
	text-align:left;
	width:350px;
	height: 32px;
	padding-left:5px;
}

.loginAgainLink{
	font-size: 14px;
}

/*** Button styles ***/
div.button{
	padding-left:10px;
	font-size: 11px;
}
div.button a{
	color: #134959;
	text-decoration: none;
	font-size: 11px;
	font-weight:bold;
}

div.button a:hover{
	color: #1FAA99;
}
div.button img{
	vertical-align:middle;
}

a.button{
	color: #134959;
	text-decoration: none;
	font-size: 11px;
	font-weight:bold;
}

a.button:hover{
	color: #1FAA99;
}

a.form-button, span.form-button, del.form-button{
    display:-moz-inline-box;
    display:inline-block;
    cursor:pointer;
    border:none;
    font-size:0;
    line-height:0;

    /*
	for Safari, read this first
	http://creativebits.org/webdev/safari_background_repeat_bug_fix
	*/
    background-position:0 0;
    background-repeat:no-repeat;
    height:30px;
    text-decoration:none;
    color:#2e523b;
    font-style:normal;
    margin:0 6px 0px 0;
    padding:0 10px 0 0;
    vertical-align:middle;

    padding-top: 0px; /* was -2 */
    _position:relative;
    _width:10px;
    _overflow-y:hidden;
}

a.form-button, span.form-button, del.form-button,
a.form-button span, span.form-button button, span.form-button input, del.form-button span{
   /* background-image:url('../graphics/backgrounds/form_buttons.png'); */
}

a.form-button span, span.form-button button, span.form-button input, del.form-button span{
    white-space:nowrap;
    cursor:pointer;
    color:#222;
    display:-moz-inline-box;
    display:inline-block;
    line-height:1;
    letter-spacing:0 !important;
    font-size:12px !important;
    font-style:normal;
    font-family: 'DIN-Regular';
    font-weight:bold;
    background-color:transparent;
    background-position:100% 0;
    background-repeat:no-repeat;
    height:24px;
    margin:0 -16px 0 0px;
    border:none;
    vertical-align:text-top;
    zoom: 1;
    background-color: #eee;
	padding: 6px 6px 12px 6px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
a.form-button img {
	float:left;
	margin-top:-5px;
}

span.form-button button{
   line-height:2.5;/*Opera need this*/
}

html.safari a.form-button span, 
html.safari del.form-button span{
  line-height:1.3;
}

html.safari span.form-button button{
  line-height:2.6;
}

html.safari a.form-button:focus,
html.safari span.form-button button:focus{
    outline:none;
}



del.form-button{
	/* cursor:not-allowed;	*/
	background-position:0 -180px;
	
}

del.form-button span{
	cursor:default;
    color:#aaa !important;
	background-position:100% -180px;
}

span.form-button button, span.form-button input{
	padding-top:0px;
	line-height:2.5;/*Opera need this*/
}

/* Button hover style */

a.form-button:hover, 
span.form-button:hover,
a.form-button:focus, 

a.dom-button-focus, 
span.form-button-behavior-hover{
	background-position:0 -60px;
	color:#222;
	text-decoration:none;
}

a.form-button:hover span, 
span.form-button:hover button, 
a.form-button:focus span, 

span.form-button-behavior-hover button, 
span.form-button-behavior-hover input{
	background-position:100% -60px;
}

a.form-button:active, a.form-button:focus span{
	color:#444;
}

del.form-button-behavior-hover, del.form-button:hover{
	background-position:0 -180px;
	/* cursor:not-allowed; */
}

del.form-button-behavior-hover span, del.form-button:hover span{
	background-position:100% -180px;
	/* cursor:not-allowed; */
	
}


div.form-header-button {
	float: right;
	text-align: center;
	margin-left: 10px;
	background-color: #eeeeee;
	padding: 3px;
}

a.form-header-button {
	text-decoration: none;
	color: #000000;
}

img.form-button-left{  /** used to align images to the left **/
	float: left; 
	display: block;
}

* html img.form-button-left{
	display:none;
}