.setItemEditor {
	background: #fbfbfb;
	padding: 0px;
	margin:0px;
	padding:0px;
}
.orderControls{
	float:right;
	margin:10px 10px 0px 20px;
}
.orderControls a{
	color:#134959;
	font-size:12px;
	text-decoration:underline;
}
.orderControls a:hover{
	color:#1FAA99;
}
.setEditorAddItemForm{
	margin: 0px 10px 5px 10px;
	padding-top: 5px;
}
.setItemList{
	margin:0px 5px 0px 10px;
	padding:0px;
}
.setItem {
	position: relative;
	display: block;
	list-style-type: none;
	border: solid 1px #e9e9e9;
	margin: 5px 5px 5px 0px;
	background: #fff;
	text-align: left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.setItem:hover {
	border: solid 1px #ccc;
}

.setItems a{
	cursor:move;
}

.setItems a{
	color: #636363;
}
.setItemThumbnail a {
	cursor:pointer;
}
.setItems .remove{
	float:right;
	margin:5px;
	width:16px;
	background-size: 16px 16px;
}
.setItems .remove .fa:hover {
	color:red;
}
.setItems .remove a{
	font-size: 9px;
	color: #333;
	text-decoration:none;
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: block;
}
a.setItemEditButton img{
	margin-left:-1px;
}
.setItemThumbnail {
	float:left;
	padding: 10px;
}

.setItems .setItemCaption {
	padding:10px;
	font-size:11px;
}

.setItemIdentifierSortable {
	display: none;
}

.colorbox { 
	margin: 0px; 
	padding: 10px 10px 10px 8px;
	font-size: 12px;  
	text-transform:uppercase; 
	text-align: left;
	display: block; 
	color: #333;
	font-family:Arial;
}