@font-face {
	font-family: "DejaVuSans";
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/DejaVuSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "DejaVuSans";
	font-style: italic;
	font-weight: normal;
	src: url('./fonts/DejaVuSans-Oblique.ttf') format('truetype');
}

#header { 
	position: fixed; 
	left: 0px; 
	top: -25px; 
	right: 0px; 
	height: 55px;	
	text-align: left; 
	vertical-align: top; 
	margin: 0px 5px 10px 0px; 
	padding: 0px 5px 2px 0px; 
}

#header .pagingText:after { 
	content: counter(page, decimal); 
}

#footer { 
	position: fixed; 
	left: 0px; 
	bottom: -50px; 
	right: 0px; 
	height: 20px; 
	text-align: center; 
	vertical-align: 
	bottom; margin: 0px 5px 10px 5px; 
	padding: 3px 5px 2px 10px; 
}

#footer .pagingText:after { 
	content: counter(page, decimal); 

}

body { 
	font-family: "DejaVuSans"; 
	z-index: 30000; 
	position: relative; 
	margin-top: 36px;
}

.headerText { 
	font-family: "DejaVuSans"; 
	font-size: 10px; 
	margin: 0px 0px 10px 25px; 
}

.pagingText { 
	font-family: "DejaVuSans"; 
	position: absolute; 
	top: 0px; 
	right: 10px; 
	font-size: 11px; 
	text-align: right; 
	margin: 0px 0px 10px 25px; 
}

table.footerText { 
	width: 100%; 

}
td.footerText { 
	font-family: "DejaVuSans"; 
	font-size: 12px; 
	text-align: center; 
}	

span.footerText { 
	font-family: "DejaVuSans"; 
	font-size: 12px; 
	margin-left: 45px; 
} 

.title { 
	font-family: "DejaVuSans"; 
	font-size: 18px; 
	font-weight: bold;
	height: 25px; 
	text-align: center; 
}

span.label { 
	font-family: "DejaVuSans"; 
	font-size: 12px; 
	font-weight: bold; 
	width:30%; 
	display:inline-block; 
	text-transform:uppercase; 
	color:#444;
}

span.meta { 
	font-family: "DejaVuSans"; 
	font-weight:regular;
	width: 350px; 
	display:inline-block; 
	color:#000;

}
div.data { 
	font-family: "DejaVuSans"; 
	font-size: 12px; 
	border-bottom: 1px solid #eeeeee; 
	margin-top: 10px; 
}

div.findingAid.data { 
	border-bottom: 0px; 
}

.representationList { 
	margin-top:10px; 
	text-align: center; 
}

.thumbnail { 
	font-family: "DejaVuSans"; 
	font-size: 11px; 
	border: 1px solid #999; 
	width: 200px; 
	height: 160px; 
	float: left; 
	text-align: center; 
	margin-left: 10px; 
	padding: 5px; 
	overflow: none;
}	

.pageBreak { 
	page-break-before: always; 
}

.clear { 
	clear: both; 
	line-height: 5px; 
}

/* universal header/footer styles */
img.headerImg {height:45px; width:auto; margin-top:20px; margin-bottom:10px;}
.pagingText { position: absolute; top: 30px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px;}
#footer .pagingText{ top:20px; }
.footerText { position:relative; font-size: 11px;  top:13px; padding-right:40px;  }  

/* dompdf */
@page { margin: 65px 56px 35px 56px; }

#headerdompdf { position: fixed; left: 0px; top: -75px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#footerdompdf { position: fixed; left: 0px; bottom: -0px; right: 0px; height: 0px; text-align: center; vertical-align: bottom; }
#footerdompdf .pagingText:after { content: counter(page, decimal); }
#footerdompdf .pagingText { position: absolute; top: 0px; right: 30px; font: "helvetica"; font-size: 11px; text-align: right; margin: 0px;}
#footerdompdf .footerText { position:relative; font-size: 11px; padding-right:40px;  } 

/* summary styles */
.title { font: "helvetica, sans-serif"; font-size: 18px; width:100%; margin-top:10px; text-align: center; font-weight: bold;}
.representationList { width: 100%; margin-top:10px; text-align: center; }
.unit {font-size:12px;margin-bottom:12px;}
h6 {font-size:12px; font-weight:bold;text-transform:uppercase; margin:0px 0px 5px 0px; padding:0px;}
.tombstone { margin-top:20px;}
.clear { clear: both; }


.fileIcon{
	background-image: url("folder.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:17px;
	height:14px;
	display:inline-block;
}
