#header { position: fixed; left: 0px; top: -25px; right: 0px; height: 55px;  text-align: left; vertical-align: top; margin: 0px 5px 10px 0px; padding: 0px 5px 2px 0px; }
#footer { position: fixed; left: 0px; bottom: -50px; right: 0px; height: 20px; text-align: center; vertical-align: bottom; margin: 0px 5px 10px 5px; padding: 3px 5px 2px 10px; }
#header .pagingText:after { content: counter(page, decimal); }
#body { z-index: 30000; position: relative; }

img.headerImg {width:135px;height:32px;}
.headerText { font-family: "helvetica, sans-serif"; font-size: 10px; margin: 0px 0px 10px 25px; }
.pagingText { position: absolute; top: 0px; right: 10px; font-family: "helvetica, sans-serif"; font-size: 11px; text-align: right;  margin: 0px 0px 10px 25px; }

table.footerText { width: 100%; }
td.footerText { font-family: "helvetica, sans-serif"; font-size: 12px; text-align: center; }  
span.footerText { font-family: "helvetica, sans-serif"; font-size: 12px; margin-left: 45px; } 

span.label { width:30%; display:inline-block; font-size: 12px; font-weight: bold; text-transform:uppercase; color:#444;}
span.meta { width: 350px; display:inline-block; font-weight:regular; color:#000;}
div.data {  font: "helvetica, sans-serif";  font-size: 12px; border-bottom: 1px solid #eeeeee; margin-top: 10px; }
.title { font: "helvetica, sans-serif"; font-size: 18px; height: 25px; text-align: center; font-weight: bold;}
.representationList { margin-top:10px; text-align: center; }

.thumbnail { font: "helvetica, sans-serif"; font-size: 11px; border: 1px solid #999; width: 200px; height: 160px; float: left; text-align: center; margin-left: 10px; padding: 5px; overflow: none;}	

.pageBreak { page-break-before: always; }
.clear { clear: both; line-height: 5px; }