#header {
	position: fixed;
	left: 0;
	top: -25px;
	right: 0;
	height: 55px;
	text-align: left;
	vertical-align: top;
	margin: 0 5px 10px 0;
	padding: 0 5px 2px 0;
}

#footer {
	position: fixed;
	left: 0;
	bottom: -50px;
	right: 0;
	height: 20px;
	text-align: center;
	vertical-align: bottom;
	margin: 0 5px 10px 5px;
	padding: 3px 5px 2px 10px;
}

#header .pagingText:after {
	content: counter(page, decimal);
}

#body {
	z-index: 30000;
	position: relative;
}

img.headerImg {
	height: 32px;
}

.headerText {
	font-family: helvetica, sans-serif;
	font-size: 10px;
	margin: 0 0 10px 25px;
}

.pagingText {
	position: absolute;
	top: 0;
	right: 10px;
	font-family: helvetica, sans-serif;
	font-size: 11px;
	text-align: right;
	margin: 0 0 10px 25px;
}

table.footerText {
	width: 100%;
}

td.footerText {
	font-family: "Sans Light", helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}

span.footerText {
	font-family: "Sans Light", helvetica, sans-serif;
	font-size: 12px;
	margin-left: 45px;
}

span.label {
	width: 30%;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #444;
}

span.meta {
	width: 70%;
	display: inline-block;
	font-family: Arial, helvetica, sans-serif;
	font-weight: normal;
	color: #000;
}

div.data {
	font-family: helvetica, sans-serif;
	font-size: 12px;
	border-bottom: 1px solid #eeeeee;
	margin-top: 10px;
}

.title {
	font-family: helvetica, sans-serif;
	font-size: 18px;
	height: 25px;
	text-align: center;
	font-weight: bold;
}

.representationList {
	margin-top: 5px;
	text-align: center;
}

.representationList img {
	margin: 5px;
}

.thumbnail {
	font-family: helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #999;
	width: 200px;
	height: 160px;
	float: left;
	text-align: center;
	margin-left: 10px;
	padding: 5px;
	overflow: hidden;
}

.pageBreak {
	page-break-before: always;
}

.clear {
	clear: both;
	line-height: 5px;
}
ul.image-links {
	font-family: "Courier New", Courier, monospace;
	font-size: 8px;
	padding-left: 8px;
}
ul.image-links a:link,
ul.image-links a:visited {
	color: #444;
	text-decoration: none;
	word-wrap: break-word;
	word-break: keep-all;
}
