# Specify the format to use for the title, per record type

title_formatters = {
	ca_objects = {
		0 = {
			types = [ %%test_object_type1%%, %%test_object_type2%%, %%test_object_type3%% ],
			templates = {
				name = generated: <unit><ifdef code="ca_collections">^ca_collections </ifdef></unit>^ca_objects.idno
			}
		}
	},
	ca_list_items = {
		0 = {
			types = [ %%test_list_item_type%%],
			templates = {
				name_singular = generated: ^ca_list_items.idno,
				name_plural = generatedplural: ^ca_list_items.idno
			}
		}
	}
}
